// Layer
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}
layer-rule {
    match namespace="^noctalia-overview*"
    place-within-backdrop true
}
layer-rule {
    match namespace="^launcher$"
    opacity 1.0
}
layer-rule {
    //  eww
    match namespace="gtk-layer-shell"
    match at-startup=true
    shadow {
        on
        softness 10
        spread 1
        offset x=0 y=1
        draw-behind-window true
        color "#00000030"
    }
}

// Window
window-rule {
    match app-id="^firefox$"
    match app-id="^discord$"
    match app-id="^gimp$"
    default-column-width { proportion 1.0; }
}
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="zoom"
    open-floating true
}
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}
window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}
window-rule {
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^pavucontrol$"#
    match app-id=r#"^nm-connection-editor$"#
    default-column-width { proportion 0.5; }
    open-floating false
}
window-rule {
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^org\.gnome\.Nautilus$"#
    match app-id=r#"^steam$"#
    match app-id=r#"^xdg-desktop-portal$"#
    match title="^(file_progress)$"
    match title="^(confirm)$"
    match title="^(dialog)$"
    match title="^(download)$"
    match title="^(notification )$"
    match title="^(error)$"
    match title="^(splash)$"
    match title="^(nwg-look)$"
    match title="^(confirmreset)$"
    match title="^(Delete profile)$"
    match title="^File Operation Progress$"
    match title="^Confirm to replace files$"
    match title="^KDE Connect URL handler$"
    match title="^(Open File)(.*)$"
    match title="^(Select a File)(.*)$"
    match title="^(Choose wallpaper)(.*)$"
    match title="^(Open Folder)(.*)$"
    match title="^(Save As)(.*)$"
    match title="^(Library)(.*)$"
    match title="^(File Upload)(.*)$"
    match title="^(hyprland-share-picker)$"
    match title="^(.*)-Google$"
    match title="^(.*)System Update$"
    match title="(.*) - Google (.*) - (.*)"
    match app-id="^xdm-app$"
    match app-id="^org.qbittorrent.qBittorrent$"
    match app-id="^org.pulseaudio.pavucontrol$"
    match app-id="^net.davidotek.pupgui2$"
    open-floating true
}
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    match app-id="kitty$"
    match app-id="com.mitchellh.ghostty$"
    draw-border-with-background false
}
window-rule {
    match app-id="steam" title="^notificationtoasts_\\d+_desktop$"
    match app-id="com.viber.Viber" title="^notificationtoasts_\\d+_desktop$"
    default-floating-position x=10 y=10 relative-to="bottom-right"
}
window-rule {
    match is-active=false
    opacity 0.9
}
window-rule {
    match app-id="mpv$"
    open-fullscreen true
}
window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
}
