"$schema" = 'https://starship.rs/config-schema.json'
format = """
[](color_orange)\
$os\
$username\
[](bg:color_yellow fg:color_orange)\
$directory\
[](fg:color_yellow bg:color_aqua)\
$git_branch\
$git_status\
[](fg:color_aqua bg:color_blue)\
[](fg:color_blue bg:color_bg3)\
[](fg:color_bg3 bg:color_bg1)\
$time\
[ ](fg:color_bg1)\
$line_break$character"""

palette = 'everforest'

[palettes.everforest]
color_fg0 = '#d3c6aa'
color_bg1 = '#343f44'
color_bg3 = '#475258'
color_blue = '#7fbbb3'
color_aqua = '#83c092'
color_green = '#a7c080'
color_orange = '#e69875'
color_purple = '#d699b6'
color_red = '#e67e80'
color_yellow = '#dbbc7f'

[os]
disabled = false
style = "bg:color_orange fg:black bold"

[os.symbols]
NixOS = "󱄅"

[username]
show_always = true
style_user = "bg:color_orange fg:black bold"
style_root = "bg:color_orange fg:black bold"
format = '[ $user ]($style)'

[directory]
style = "fg:black bold bg:color_yellow"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"Developer" = "󰲋 "

[git_branch]
symbol = ""
style = "bg:color_aqua"
format = '[[ $symbol $branch ](fg:black bold bg:color_aqua)]($style)'

[git_status]
style = "bg:color_aqua"
format = '[[($all_status$ahead_behind )](fg:black bold bg:color_aqua)]($style)'

[time]
disabled = false
time_format = "%I:%M %p"
style = "bg:color_bg1"
format = '[[  $time ](fg:color_fg0 bg:color_bg1)]($style)'

[line_break]
disabled = false

[character]
disabled = false
success_symbol = '[](bold fg:color_green)'
error_symbol = '[](bold fg:color_red)'
vimcmd_symbol = '[](bold fg:color_green)'
vimcmd_replace_one_symbol = '[](bold fg:color_purple)'
vimcmd_replace_symbol = '[](bold fg:color_purple)'
vimcmd_visual_symbol = '[](bold fg:color_yellow)'
